
<!-- User Information Display -->
<div class="row">
    <div class="small-12 large-10 large-offset-1 columns">

        <!-- User Display -->
        <div class="small-6 large-6 columns">

            <!-- User Name Display -->
            <div>
                <p id="user-name-display">User: {{user.displayName}}</p>
            </div>
        </div>

        <!-- User Score Display -->
        <div class="small-6 large-6 columns">
            <p id="score" style="float: right">Score: {{score}}</p>
        </div>
    </div>
</div>


<!-- Question Display -->
<div class="row">
    <div style="margin-top: 50px; margin-bottom: 30px;" class="small-12 large-6 large-offset-3 columns">
        <h4 id="question">{{question}}</h4>
    </div>
</div>

<!-- Answer Display -->
<div class="row">
    <div class="small-12 large-6 large-offset-3 columns">
        <form name="answerForm">
            <input type="text" id="answer" data-ng-model="userAnswer">
        </form>
    </div>
</div>

<!-- Submit Answer Display -->
<div class="row">
    <div class="small-12 large-6 large-offset-3 columns">
        <button id="submit-answer" class="button expand" type="button" data-ng-click="verifyAnswer(userAnswer)">Submit Answer</button>
    </div>
</div>


<!-- Cheat Display-->
<div class="row">
    <div class="small-12 large-6 large-offset-3 columns">
        <p id="cheat-answer" class="error">{{cheatAnswer}}</p>
    </div>
</div>
