
<!-- User Information Display -->
<div class="row">
    <div class="small-12 large-10 large-offset-1 columns">

        <!-- User Display -->
        <div class="small-6 large-6 columns">

            <!-- User Name Display -->
            <div data-ng-hide="user.displayName !== 'Guest'">
                <p>You are a Guest</p>
            </div>

            <div data-ng-show="user.displayName !== 'Guest'">
                <p>{{user.displayName}}</p>
            </div>
        </div>

        <!-- User Score Display -->
        <div class="small-6 large-6 columns">
            <p style="float: right">Score: {{score}}</p>
        </div>
    </div>
</div>


<!-- Question Display -->
<div class="row">
    <div style="margin-top: 50px; margin-bottom: 30px;"class="small-12 large-6 large-offset-3 columns">
        <h4>{{question}}</h4>
    </div>
</div>

<!-- Answer Display -->
<div class="row">
    <div class="small-12 large-6 large-offset-3 columns">
        <form name="answerForm">
            <input type="text" id="answer" data-ng-model="userAnswer">
        </form>
    </div>
</div>

<!-- Submit Answer Display -->
<div class="row">
    <div class="small-12 large-6 large-offset-3 columns">
        <button class="button expand" type="button" data-ng-click="verifyAnswer(userAnswer)">Submit Answer</button>
    </div>
</div>


<!-- Cheat Display-->
<div class="row">
    <div class="small-12 large-6 large-offset-3 columns">
        <p class="error">{{cheatAnswer}}</p>
    </div>
</div>
