<div class="row">
    <div class="small-6 small-offset-3 columns">
        <h1>Main Page</h1>

        <div data-ng-hide="user.displayName !== 'Guest'">
            <p>You are a Guest</p>
        </div>

        <div data-ng-show="user.displayName !== 'Guest'">
            <ul>
                <li>Logged in as: {{user.displayName}}</li>
                <li>Current sessionId: {{user.sessionId}}</li>
            </ul>
        </div>
    </div>
</div>

        <div class="row">
            <div class="small-6 small-offset-3 columns">
                <h1>{{question}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="small-6 small-offset-4 columns">
                <form name="answerForm">
                    <input type="text" id="answer" data-ng-model="userAnswer">
                </form>
            </div>
        </div>

<div class="row">
    <div class="small-6 small-offset-3 columns">
        <button type="button" data-ng-click="verifyAnswer(userAnswer)">Submit Answer</button>
    </div>
</div>
